fastapi==0.135.2
websockets==16.0
python-dotenv==1.0.0
ollama==0.6.1
langchain-text-splitters==1.1.1
qdrant-client==1.17.1
flashrank==0.2.10
docling==2.84.0
pydantic==2.12.5
click==8.3.2
requests==2.33.1
sentence-transformers==5.3.0
faiss-cpu==1.13.2
numpy==2.4.4
torch==2.11.0
uvicorn==0.42.0
pathspec==1.0.4
watchdog==6.0.0